.navbackground {
    background-color: rgb(44, 44, 44);
    color: rgb(217, 223, 223);
}

.myName {
    font-size: 2rem;
}

body {
    height: 100vh;
    background-color: #2b1331;
    background-image: linear-gradient(315deg, #c7c3d3 0%, #2a5683 74%);
}


#sticky-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
    background:#6cf; 
    color: rgb(211, 211, 211);
 }

.kyle2 {
    margin-top:8rem;
    display: flex;
    justify-content: right;
}

.navbar-brand {
    text-decoration: none;
    text-align: center;
}